body{
    background-color: gainsboro;
}
.ulstuff{
    background-image: url(/images/wp2108300.jpg);
}
ul {
    list-style-type: none;
    
    margin: 0;
    
    padding: 0;
    
    overflow: hidden;
    
}
li {
    float: left;
}
li a {
    display: block;
    
    color: white;
    
    text-align: center;
    
    padding: 20px 40px 20px 40px;
    
    text-decoration: none;

    font-family: sans;
}
li a:hover {
    background-color: #666;
}

li a .active {
    background-color: #111;
}

h1{
    font-family: sans;
    text-align: center;
    margin: 40px 0 40px 0;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
}
form{
    text-align: -moz-center;
}
.fs1{
    text-align: center;
    border: 2px solid black;
}

.fs1, label{
    font-size: 40px;
    font-family: sans;
}
.fs1, input{
    width: 50%;
    padding: 10px 20px;
}
#btn{
    font-size: 20px;
}
#btn:hover{
    cursor: pointer;
}

.headings{
    margin-bottom: 80px;
}
article, h2{
    font-family: sans;
    font-weight: 200;
    margin-left: 40px;
    margin-bottom: 40px;
}

#hmbg{
    background-image: url(/images/moon-mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hmpg{
    color: white;
    padding-top: 300px;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 20px;
}
#par{
    color: white;
    text-align: center;
    font-family: sans;
    font-size: 40px;
}

footer{
    color: white;
    background-image: url(/images/wp2108300.jpg);
}
#abtpar{
    float: left;
    margin-bottom: 40px;
    padding: 0 80px 0 80px;
}
#btncntc{
    text-decoration: none;
    padding: 40px;
    color: black;
    font-size: 20px;
}
#btncntc:hover{
    cursor: pointer;
}

#thisart, img{
    margin-left: 45px;
}

#fig{
    width: max-content;
    float: left;
}
#fig:hover{
    cursor: pointer;
}
img {
    opacity: 0.6;
    border-radius: 10px;
  }
  
  img:hover {
    opacity: 1.0;
  }